.footer {
  display: flex;
  font-size: 14px;
  color: var(--LIGHT);
  padding: 10px 40px;
  align-items: center;
  background-color: var(--DARK);
  justify-content: space-between;

  &__attrib {
    &__link {
      color: var(--PRIMARY);
    }

    &__link:hover {
      color: var(--PRIMARY-LIGHT);
    }
  }
}
