.header {
  display: flex;
  padding: 5px 40px;
  align-items: center;
  justify-content: space-between;
  background-color: #F1F3F2 ; //TODO: use color constants
  color: #242424;

  &__logo {
    flex: 1;

    img {
      width: 250px;
    }
  }

  &__login {
    flex: 2;
  }
}
