.article {
  display: flex;
  padding-bottom: 40px;
  list-style: none;
  flex-direction: column;

  &.preview {
    flex-direction: row;

    .article__image {
      margin: 0 10px 0 0;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    padding: 20px 5px;
    color: var(--SECONDARY);
    background: var(--LIGHT);
    justify-content: space-between;

    &__title {
      font-size: 34px;
      font-weight: bold;
      color: var(--DARK);
      text-decoration: none;

      &:hover {
        color: var(--PRIMARY);
      }
    }

    &__date {
      color: var(--SECONDARY);
    }

    &__actions {
      display: flex;
      flex-direction: column;
      align-items: center;

      app-button {
        margin-top: 5px;
      }
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 30px;
    flex: 1;

    img {
      width: 100%;
      border-radius: 3px;
    }
  }
}
