<li class="article" [class.preview]="isPreview">
  <a class="article__image" [routerLink]="['/article-details', { id: article._id, provider: article.provider }]">
    <img [src]="article.urlToImage"/>
  </a>

  <div class="article__text">
    <a class="article__text__title" 
      [routerLink]="['/article-details', { id: article._id, provider: article.provider }]"
      [innerHTML]="article.title | highlightSearch: highlightStr"
    ></a>

    <p class="article__text__description"
      [innerHTML]="article.description | highlightSearch: highlightStr"
    ></p>

    <div *ngIf="!isPreview">
      <p class="article__text__description">{{article.content}}</p>
      <p class="article__text__date">{{article.publishedAt | date}}</p> 
    </div>
  </div>

</li>
