.login-wrapper {
  display: flex;
  justify-content: flex-end;

  .logout {
    display: flex;
    align-items: center;

    & > * {
      margin-left: 10px;
    }

    &__icon {
      font-size: 40px;
    }
  }

  button {
    font-size: 16px;
    background-color: #81a3a7;//TODO: use theme constant
    color: #f1f3f2;
    padding: 8px 15px;
    border-radius: 100px;
    border: none;
  }
}
