<div class="home-page">
  <app-headline [title]="sourceTitle"></app-headline>

  <app-articles-selector
    [isLocalProvider]="isLocalProvider"
    (localProviderStatus)="changeNewsProvider($event)"
    [(filterString)]="filter"
  ></app-articles-selector>

  <div class="home-page__content">
    <app-articles-list
      (loadNewsEvent)="loadNews()"
      [articles]="articles"
      [filterString]="filter"
      (deleteArticleEvent)="deleteArticle($event)"
    ></app-articles-list>
  </div>

</div>
