:root {
  --PRIMARY: #81A3A7;
  --SECONDARY: #585A56;
  --PRIMARY-LIGHT: #C2D3DA;
  --DARK: #272424;
  --LIGHT: #F1F3F2;
}

html,
body,
.app-root {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Aleo", serif;
}

a,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

select:focus,
select:active,
input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}
